* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  background-color: #f5f7fa;
  font: 400 1rem 'Montserrat', sans-serif;
  line-height: 1.7rem;
  padding: 40px 20px;
}

@media (max-width: 479px) {
  body {
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: underline;
}

p,
a,
ul,
span {
  color: #595959;
  font-weight: 400;
}

@media (max-width: 767px) {
  p,
  a,
  ul,
  span {
    font-size: 0.8rem;
  }
}

img {
  max-width: 100%;
}

h3 {
  font-size: 1.6rem;
}

@media (max-width: 479px) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.14rem;
}

@media (max-width: 479px) {
  h4 {
    font-size: 0.8rem;
  }
}

h5 {
  font-size: 1rem;
}

@media (max-width: 479px) {
  h5 {
    font-size: 0.7rem;
  }
}

.container {
  background-color: #fff;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 479px) {
  .container {
    flex-wrap: wrap;
  }
}

/* Sidebar */
.sidebar-adaptive {
  min-width: 200px;
}

@media (max-width: 479px) {
  .sidebar-adaptive {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
  }
}

.sidebar {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(35, 146, 135, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  height: auto;
  width: 370px;
}

@media (max-width: 991px) {
  .sidebar {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 255px;
  }
}

@media (max-width: 479px) {
  .sidebar {
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 70%,
      rgba(35, 146, 135, 1) 95%,
      rgba(139, 177, 178, 1) 100%
    );
    width: 100%;
  }
}

.sidebar-img {
  margin-top: 30px;
  width: 370px;
}

@media (max-width: 767px) {
  .sidebar-img {
    width: 255px;
  }
}

@media (max-width: 479px) {
  .sidebar-img {
    box-shadow: 5px 9px 20px rgba(238, 233, 233, 0.15);
    display: block;
    margin: 0 auto;
  }
}

.sidebar-contacts {
  margin: 60px 40px 55px;
}

@media (max-width: 991px) {
  .sidebar-contacts {
    margin: 40px 10px 30px 20px;
  }
}

@media (max-width: 767px) {
  .sidebar-contacts {
    margin: 30px 10px 30px 20px;
  }
}

@media (max-width: 479px) {
  .sidebar-contacts {
    margin: 15px 0;
  }
}

.sidebar-contacts > ul {
  padding: 0;
}

.sidebar-title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .sidebar-title {
    font-size: 0.8rem;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

@media (max-width: 479px) {
  .sidebar-title {
    margin-bottom: 5px;
    margin-top: 0;
  }
}

.sidebar-text {
  color: #ff6b08;
  font-weight: 400;
  margin-left: 15px;
}

@media (max-width: 479px) {
  .sidebar-text {
    font-size: 0.7rem;
  }
}

.sidebar-text--mark {
  color: #d6d8db;
}

.sidebar-link {
  color: #fff;
}

@media (max-width: 767px) {
  .sidebar-link {
    font-size: 0.7rem;
  }
}

i {
  font-size: 1.2rem;
  margin-right: 10px;
}

@media (max-width: 767px) {
  i {
    font-size: 0.9rem;
  }
}

@media (max-width: 479px) {
  i {
    font-size: 0.8rem;
    margin-right: 5px;
  }
}

.sidebar-skills {
  margin: 60px 40px 55px;
}

@media (max-width: 991px) {
  .sidebar-skills {
    margin: 40px 10px 30px 20px;
  }
}

@media (max-width: 767px) {
  .sidebar-skills {
    margin: 30px 10px 30px 20px;
    width: auto;
  }
}

@media (max-width: 479px) {
  .sidebar-skills {
    margin: 15px 0;
  }
}

/* .container-info */
.container-info {
  margin: 0;
  padding: 110px 40px 110px 90px;
}

@media (max-width: 767px) {
  .container-info {
    padding: 60px 30px 60px 50px;
  }
}

@media (max-width: 479px) {
  .container-info {
    margin: 10px 15px;
    padding: 0;
  }
}

.box-info {
  margin-bottom: 65px;
  max-width: 700px;
}

@media (max-width: 767px) {
  .box-info {
    margin-bottom: 50px;
  }
}

@media (max-width: 479px) {
  .box-info {
    margin-bottom: 35px;
  }
}

.box-title {
  color: #000;
  font-weight: 700;
  margin-bottom: 23px;
}

@media (max-width: 767px) {
  .box-title {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

@media (max-width: 479px) {
  .box-title {
    margin-left: 15px;
  }
}

.box-title--name {
  color: #000;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 6.3rem;
}

@media (max-width: 767px) {
  .box-title--name {
    font-size: 2rem;
  }
}

@media (max-width: 479px) {
  .box-title--name {
    font-size: 1.5rem;
    margin-left: 15px;
    margin-top: -20px;
  }

  .box-info > p {
    margin-left: 15px;
  }
}

/* box-education */
.box-education {
  margin-bottom: 55px;
  max-width: 700px;
}

.box-education > h3 {
  margin-bottom: 20px;
}

.box-univesity {
  margin-bottom: 25px;
}

@media (max-width: 479px) {
  .box-education {
    margin-bottom: 35px;
    margin-left: 15px;
  }

  .box-education > h3 {
    margin-bottom: 0;
  }
}

.box-univesity > h4 {
  margin-bottom: 0;
}

@media (max-width: 479px) {
  .box-univesity {
    margin-bottom: 15px;
  }

  .box-univesity > h4 {
    color: #ff6b08;
  }
}

.title--date {
  color: #a8a8a8;
  font-size: 0.8rem;
  margin-top: 15px;
}

.title--date > span {
  color: #000;
}

/* Qualifications */
.box-qualifications {
  margin-bottom: 55px;
  width: 100%;
}

.box-qualifications > h3 {
  margin-bottom: 20px;
}

@media (max-width: 479px) {
  .box-qualifications {
    margin-bottom: 35px;
    margin-left: 15px;
  }

  .box-qualifications > h3 {
    margin-bottom: 0;
  }
}

.box-courses {
  margin-bottom: 15px;
}

.box-courses > h4 > span {
  color: #ff6b08;
  font-weight: 700;
}

/* Box-work */
.box-work {
  margin-bottom: 55px;
  width: 100%;
}

@media (max-width: 479px) {
  .box-work {
    margin-bottom: 20px;
    margin-left: 15px;
    width: auto;
  }
}

.box-work > h3 {
  margin-bottom: 0;
}

@media (max-width: 479px) {
  .box-work > h3 {
    margin-bottom: 0;
  }
}

.box-experience {
  margin-bottom: 30px;
  margin-top: 20px;
}

.box-experience > ul {
  margin-left: 15px;
  margin-top: 10px;
}

@media (max-width: 479px) {
  .box-experience {
    margin-top: 0;
  }

  .box-experience > ul {
    margin-left: 15px;
  }
}

/* Animation Shadow Radial */
.hvr-shadow-radial {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  vertical-align: middle;
}

.hvr-shadow-radial::before,
.hvr-shadow-radial::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
  content: '';
  height: 5px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  width: 100%;
}

.hvr-shadow-radial::before {
  background: -webkit-radial-gradient(
    50% 150%,
    ellipse,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at 50% 150%,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  bottom: 100%;
}

.hvr-shadow-radial::after {
  background: -webkit-radial-gradient(
    50% -50%,
    ellipse,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at 50% -50%,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  top: 100%;
}

.hvr-shadow-radial:hover::before,
.hvr-shadow-radial:focus::before,
.hvr-shadow-radial:active::before,
.hvr-shadow-radial:hover::after,
.hvr-shadow-radial:focus::after,
.hvr-shadow-radial:active::after {
  opacity: 1;
}
